@font-face {
  font-family: "Georgia-Regular";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Georgia-Regular"),
       /* Если не получилось, загрузит woff2 */
       url("/fonts/GeorgiaRegular.woff2") format("woff2")
}
@font-face {
  font-family: "Georgia-Bold";
  font-style: normal;
  font-weight: 700;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Georgia-Bold"),
       /* Если не получилось, загрузит woff2 */
       url("/fonts/GeorgiaBold.woff2") format("woff2")
}

body {
  font-family: 'Georgia-Regular', sans-serif;
}
html {
  scroll-behavior: smooth;
}

.wrapper {
  
  color: white;
}
.main {
  display: flex;
  justify-content: center;
  background-image: url('../img/main.jpg');
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  
  background-color:#b83d52dc;
  background-blend-mode: multiply;
  
  text-align: center;
}
.container {

  max-width: 1380px;
  padding: 0 10px;
  margin: auto;

}
.main__text {
  font-size: 48px;
  position: relative;
  color: white;
  z-index: 100; 
  font-weight: bold;
}
.main__text-title {
}
.main__text-animation  {
}
.main__text-animation  h1{
  position: absolute;
  top: -20px;
  opacity: 0;
  overflow: hidden;
  width: 100%;
  
  animation: rotateWordsSecond 10s linear infinite 0s;  
}

.main__text-animation .title-first {
  animation-delay: 4s;
}
.main__text-animation .title-second {
  animation-delay: 10s;
}
.title-first h1{
  opacity: 0;
  overflow: hidden;
  width: 100%;
  color: #6b969d;
}
.title-second {
  opacity: 0;
  overflow: hidden;
}
.main__text-description {
  font-size: 28px;
  margin-top: 50px;
  display: inline-block;
}
.main__text-description::before {
  content: '';
  width:80%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  height: 2px;
  background-color: #6b969d;
  display: block;
}
.main__button {
  padding: 10px 15px;
  background-color:rgba(240, 255, 255, 0);
  border: 2px solid white;
  color: white;
  font-size: 18px;
  margin-top: 40px;
}
.main__button a {
  color: white;
}
.how {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  background-color: #b83d51;
}
.how__title, .faq__title, .order__title, .buy__title {
  font-size: 36px;
  color: transparent; 
  -webkit-text-stroke: 1px #b83d51;
  color: #b83d51;
  background-color: aqua;
  display: inline;
  font-weight: bold;
  padding: 5px 20px;
  border: 8px double #b83d51;
  
}
.how__title::after {
  content: '';
  display: inline;
  width: 100%;
  height: 2px;
  background-color: aqua;
}
.how__list {
  margin-top: 60px;
  display: flex;
}
.how__item {
  text-align: center;
  width: 100%;
  margin-right: 20px;
  margin-left: 20px;
}
.how__item-figure {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 80px;
  height: 80px;
  background-color: aqua;
  border: 8px double #b83d51;

}

.how__item-title {
  font-size: 15px;
  max-width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
}

.how__menu {
}
.how__menu-title {
  font-size: 18px;
  margin-top: 60px;
}
.how__menu-list {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.how__menu-item {
}
.how__menu-number span {
  
  border: 8px double #b83d51;
  background-color: aqua;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: black;
  margin-right: auto;
  margin-left: auto;
}
.how__menu-number {
  font-size: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}
.how__menu-img {
  max-width: 300px;
}
.how__text {
  margin-top: 50px;
  padding: 50px 0px;
  background-image: url('../img/dark-pattern.webp');
  color: rgb(119, 119, 119);
  font-size: 18px;
}



.faq {
  background-color: #b83d51;
  padding-top: 40px;
  padding-bottom: 60px;
  text-align: center;
}
.container {
}
.faq__title {
  width: 100%;
}
.faq__list {
  display: flex;
  margin-right: 20px;
  margin-left: 20px;
  width: 40%;
  flex-direction: column;
}
.faq__list:nth-child(1) {
  text-align: right;
}
.faq__list:nth-child(2) {
  text-align: left;
}
.faq__item-figure-right {
  margin-left: 20px;
}
.faq__item-figure-left {
  margin-right: 20px;
}
.faq__item {
  display: flex;
  align-items: flex-start;
  width: 100%;
  min-height: 50%;
}
.faq__item-figure {
  border-radius: 50%;
  max-width: 80px;
  max-height: 80px;
  min-width: 80px;
  min-height: 80px;
  background-color: aqua;
  border: 8px double #b83d51;
}
.faq__lists {
  display: flex;
  justify-content: center;
  
  margin-top: 70px;
}
.faq__item-text {
}
.faq__item-title {
  font-size: 26px;
  color: aqua;
  font-weight: bold;
}
.faq__item-subtitle {
  font-size: 16px;
  padding-top: 10px;
}


.menu {
  text-align: center;
  background-color: #b83d51;
  padding: 60px 0;
}
.container {
}
.menu__title {
  font-size: 28px;
  display: block;
  margin-bottom: 20px;
}
.menu__subtitle {
  font-size: 24px;
}
.menu__tabs {
  margin-top: 50px;
  
}
.menu__tabs-item {
  margin-bottom: 30px;
}
.menu__tabs-content {
}
.menu__tabs-images {
  display: flex ;
  justify-content: space-around;
}
.menu__tabs-image {
  max-width: 305px;
  margin: 0 20px;
}
.b-tab {
  padding: 20px;
  display: none;
}

.b-tab.active {
  display: block;
}

.b-nav-tab {
  margin-right: 10px;
  margin-left: 10px;
  display: inline-block;
  font-size: 18px;
  color: transparent; 
  -webkit-text-stroke: 1px #b83d51;
  color: #b83d51;
  background-color: aqua;
  display: inline;
  font-weight: bold;
  padding: 5px 20px;
  border: 8px double #b83d51;
}
.b-nav-tab.active {
  
  border: 2px double aqua ; 
}


.order {
  background-color: #b83d51;
  padding-top: 30px;
  text-align: center;
}
.container {
}
.order__title {
}
.order__subtitle {
  display: block;
  font-size: 24px;
  margin-top: 30px;
}
.order__list {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.order__item {
  cursor: pointer;
  width: 30%;
  border: 1px solid #a73749;
  background-color: #b83d51;
  transition: all .2s ease-in-out;
}
.order__item:hover {
  transform: scale(1.1);
  z-index: 1;
  transition: all .2s ease-in-out;

}
.order__item-title {
  font-weight: bold;
  font-size: 28px;
  padding: 20px 0;
  display: block;
}
.order__item-price {
  padding: 20px 0;
  font-size: 38px;
  color: aqua;
  background: #cf344e;
  width: 100%;
  font-weight: bold;
}
.order__item-lists p{
  
  padding: 20px 0;
  font-size: 15px;
}

.order__item-lists p:not(:last-child) {
  border-bottom: 1px solid #a73749;
}
.order__item-button {
  padding: 20px 0;
  
  background: #cf344e;
}
.order__item-btn {
  width: 50%;
  padding: 5px 20px;
  background-color: aqua;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  
  border: 6px double aqua;
}
.order__item-btn:hover {
  border: 6px double #b83d51;
  transition: all .2s ease-in-out;
}
.order__item-btn a {

  color: black;
}
.order__text {
  margin-top: 50px;
  padding: 50px 0px;
  background-image: url('../img/dark-pattern.webp');
  color: rgb(119, 119, 119);
  font-size: 18px;
}
.order__text p {
  max-width: 900px;
  margin: auto;
}
.order__text-title {
  margin-bottom: 20px;
}
.order__text-button {
  margin-top: 30px;
  font-size: 16px;
  background: transparent;
  transition: all .2s ease-in-out;
}

.order__text-button a {

  padding: 10px 20px;
  border: 2px solid rgb(119, 119, 119);
  transition: all .2s ease-in-out;
  color: rgb(119, 119, 119);
}
 .order__text-button a:hover {
  
  border: 2px solid white;
  
  color: white;

  transition: all .2s ease-in-out;
}


.buy {
  text-align: center;
  background-color: #b83d51;
  padding-top: 60px;
  padding-bottom: 20px;
}
.container {
}
.buy__title {
}
.buy__subtitle {
  display: block;
font-size: 24px;
margin-top: 30px;
margin-bottom: 30px;
}
.buy__form {
}
.buy__form-rows {
  display: flex;
  justify-content: space-between;
}
.buy__form-row {
  width: 100%;
}
.buy__form-row:nth-child(1) {
  margin-right: 40px;
}
.buy__form-row input {
  color: white;
  padding: 10px;
  
  font-size: 16px;
  background-color: #cf344e;
}
.buy__form-row input::placeholder {
  color: rgb(119, 119, 119);
}
.buy__form-select {
  margin-top: 80px;

}
.buy__form-select h2 {
  margin-bottom: 10px;
  font-size: 18px;
}
.buy__form-select select {
  width: 100%;
  background-color: #cf344e;
  border: 1px solid #a73749;
  color: white;
  font-size: 18px;
  padding: 10px 5px;
}
.buy__form-button {
  background-color: aqua;
  color: black;
  padding: 10px 0;
  width: 100%;
  margin-top: 20px;
  
  transition: all .2s ease-in-out;
  
  border: 6px double aqua;
}
.buy__form-button:hover {

  border: 6px double #b83d51;
  transition: all .2s ease-in-out;
}
.warning {
  margin-top: 30px;
  opacity: 0.5;
  display: block;
  font-size: 16px;
}
.warning  a {
  color: white;
  text-decoration: underline;
}
#tel, #name {
  width: 100%;
}




@keyframes rotateWordsSecond {
     0% { opacity: 1; animation-timing-function: ease-in; height: 0px; }
     8% { opacity: 1; height: 60px; }
     19% { opacity: 1; height: 60px; }
     50% { opacity: 0; height: 60px; }
     100% { opacity: 0; }
}