@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import '../fonts/stylesheet.css';

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 1640px;
  padding: 0 40px;
  margin: auto;

}
.color-text {
  color: #13c0b8 !important;
}


.wrapper {
  background-color: #f8f9f9;
}
.hero {
  background-image: url('../img/hero/hero-girl.png'),url('../img/hero/hero-background.png');
  background-repeat: no-repeat, no-repeat;
  background-size: 40% ,cover;
  background-position: right bottom, center;
  background-position-x: 80%, center;
  background-color: #bcd7df;
  height: 100vh;
}
.header {
  padding-top: 80px;
}
.hero__ellipse {
  display: none;
  position: absolute;
  right: -10%;
  bottom: -10%;
  z-index: 1;
}
.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
}
.header__list {
  
  display: flex;
}
.header__item {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 147%;
  /* or 35px */


  color: #000000;
}
.header__item:not(:last-child) {
  margin-right: 56px;
}
.header__btn {

}
.rounded-btn {
  padding: 15px 33px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;

  border-radius: 50px;
  border: 2px solid black;
  background-color: transparent;
  color: #000000;
  
  transition: all .2s ease-in;
}
.rounded-btn:hover {
  background: #15C2BA;
  border: 2px solid #15C2BA;
  color: white;
  transition: all .2s ease-in;
}
.square-btn {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  padding: 15px 50px;
  background: linear-gradient(170.13deg, #00B2A9 -136.12%, #1BC7BE 136.93%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all .2s ease-in;
  border: 2px solid transparent;
}
.square-btn:hover {
  border: 2px solid black;
  color: black;  
  background: linear-gradient(170.13deg, #fff -136.12%, #fff 136.93%);
  
  transition: all .2s ease-in;
}
.main {
  display: flex;
  align-items: center;
  height: 85.5vh;
  position: relative;
}
/* .main::after {
  content: '';
  background-image: url('../img/hero/hero-girl.png');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: right;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 100px;
} */
.main__text {
  flex: 0 1 45%;
}
.main__text-title {
  display: inline-block;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 104.5%;
  /* or 67px */


  color: #10002B;
}
.main__text-subtitle {
  margin: 49px 0;
  max-width: 526px;
  display: inline-block;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 147%;
  /* or 35px */


  color: #10002B;
}
.main__text-btn {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 147%;
  /* identical to box height, or 47px */
  padding: 15px 50px;
  background: linear-gradient(170.13deg, #00B2A9 -136.12%, #1BC7BE 136.93%);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 16px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.main__image {
  flex: 0 0 55%;
  z-index: 2;
  display: none;
}
.main__image img {
  max-width: 729px;
}



.advantages {
  margin-top: 61px;
  margin-bottom: 61px;
}
.container {
}
.advantages__title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  
  text-align: center;


  color: #000000;
}
.advantages__subtitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 147%;
  /* or 71px */
  display: block;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 86px;
  color: #000000;
}
.advantages__row {
  display: flex;
  justify-content: center;
  
  align-items: stretch;
}
.advantages__card {
  width: 40%;
  margin-right: 20px;
  margin-left: 20px;
}
.advantages__card-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 147%;
  /* or 35px */
  background: #39B8A8;
  border-radius: 20px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  padding: 24px 50px;
  width: 100%;
  color: #FFFFFF;
  z-index: 100;
}
.advantages__card-items {
  margin: 0 20px;
  margin-top: -100px;
  padding: 0 40px;
  padding-top: 200px;
  padding-bottom: 50px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  height: 100%;
}
.advantages__card-item {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 35px;
  display: flex;
  align-items: center;

  text-transform: uppercase;

  color: #000000;

}
.advantages__card-item::before {
  content: '';

  margin-right: 24px;
  max-width: 62px;
  max-height: 62px;
  min-width: 62px;
  min-height: 62px;
  background-image: url('../img/advantages.svg');
  display: inline-flex;
  align-items: center;
}
.advantages__btn {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 147%;
  /* identical to box height, or 47px */

  margin-top: 90px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  color: #FFFFFF;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.benefits {
  margin-top: 150px;
  text-align: center;
  position: relative;
  background-image: url('../img/benefit/Ellipse.png');
  background-repeat: no-repeat;
  background-position: -10px 40px;
  background-size: 25%;
}
.swiper-benefits {
  width: 100%;
  display: flex;
  z-index: 100;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
}
.slide-benefits {
  z-index: 100;
  position: relative;
}
.benefits::before {
  content: '';
  background-image: url('../img/benefit/Ellipse-2.png');
  background-repeat: no-repeat;
  background-position: 300px 513px;
  background-size: 70%;
  display: block;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 38%;
  z-index: 19;
}
.container {
}
.benefits__title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 104.5%;
  /* identical to box height, or 67px */


  color: #000000;
}
.benefits__subtitle {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  font-size: 48px;
  line-height: 147%;
  /* identical to box height, or 71px */
  display: inline-block;
  margin-top: 16px;
  margin-bottom: 102px;
  color: #017B66;
}
.benefits__row {
  display: flex;
  justify-content: center;
  
  padding-bottom: 50px;
}
.benefits__item {
  z-index: 100;
  max-width: 500px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 20px 20px;
  padding-bottom: 190px;
  height: 100%;
}
.benefits__item:not(:last-child) {
  
  margin-right: 20px;
}
.benefits__item-img {
  width: 214px;
  height: 215px;
  margin-top: 69px;
  margin-bottom: 12px;
}
.benefits__item-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 147%;
  /* or 71px */
  padding-bottom: 27px;

  color: #000000;
}
.benefits__item-subtitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 147%;
  /* or 35px */
  text-align: center;
  padding: 0 60px;
  display: block;
  color: #000000;
}
.benefits__info-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 104.5%;
  margin-bottom: 88px;
  margin-top: 150px;
  /* or 67px */

  color: #000000;
}
.benefits__info-description {
  display: block;
  width: 100%;
  background: #44AB9E;
  padding-top: 36px;
  padding-bottom: 62px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 147%;
  /* or 53px */

  text-align: center;

  color: #FFFFFF;
}
.benefits__info span {
  display: block;
  margin: auto;
  max-width: 1355px;
}


.conditions {
  padding-top: 83px;
  padding-bottom: 120px;
  text-align: center;
}
.conditions__title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 147%;
  /* or 94px */

  text-align: center;
  max-width: 1130px;
  margin: auto;
  color: #000000;

}
.conditions__description {
  
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 147%;
  /* or 47px */

  text-align: center;
  max-width: 1270px;
  display: block;
  margin-top: 90px;
  margin-right: auto;
  margin-left: auto;
  color: #000000;
}

.banner {
  padding: 190px 0;
  
  height: auto;
  position: relative;
  background-image: url('../img/hero/hero-background.png');
  background-repeat: no-repeat;
  background-size: 70%;
  background-color: #bcd7df;
}
.container {
}
.banner__title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 147%;
  /* or 59px */


  color: #000000;
}
.banner__row {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
}
.banner__item:first-child {
  flex: 1 0 60%;
}
.banner__item:last-child {
  flex: 1 0 40%;
  
}
.banner__item:last-child img {
  position: absolute;
  right: 0;
  top: -90px;
  /* width: 690px; */
}
.banner__buttons {
  margin-top: 80px;
  z-index: 10;
}
.banner__button {
  padding: 13px 50px;

}
.banner__button-first {
  margin-right: 20px;
}
.banner__button-second {
  border: 2px solid black;
  background: rgba(0, 0, 0, 0);
  color: black;
  transition: all .2s ease-in;
}
.banner__button-second:hover {
  background: linear-gradient(170.13deg, #00B2A9 -136.12%, #1BC7BE 136.93%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all .2s ease-in;
  border: 2px solid transparent;
}



.info {
  text-align: center;
  position: relative;
  padding-top: 86px;
}

.info::after {
  content: '';
  background-image: url('../img/info/Ellipse-left.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left center;
  display: block;
  width: 40%;
  height: 50%;
  bottom: 100px;
  position: absolute;
  left: -35px;
  z-index: 1;
}
.info::before {
  content: '';
  background-image: url('../img/info/Ellipse-right.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right top;
  display: block;
  width: 40%;
  height: 50%;
  right: 0;
  position: absolute;  
  z-index: 1;
  top: 0;
}
.container {
}
.info__title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 147%;
  margin-bottom: 76px;
  /* or 94px */


  color: #000000;
}
.info__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.info__item {
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  min-height: 100%;
  width: 33%;
  background: linear-gradient(180deg, #39B8A8 36.98%, #6DECE5 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  z-index: 100;
  
}
.info__item:not(:last-child) {
  margin-right: 20px;
}
.info__item-number {
  padding-top: 60px;
  display: block;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 300px;
  /* or 441px */


  color: #FFFFFF;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.info__item-title {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 147%;
  /* identical to box height, or 59px */

  text-align: center;

  color: #FFFFFF;

}
.info__subtitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 147%;
  /* or 71px */


  color: #000000;
}
.info__description span{
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 147%;
  
  margin: 38px 0;
  display: block;
  /* or 47px */

  text-align: center;

  color: #000000;
}
.info__description p {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 147%;
  /* or 29px */

  margin: auto;
  text-align: center;
  max-width: 1120px;
  color: #AAAAAA;

}
.info__description {
  margin-bottom: 80px;
}


.partners {
  padding-bottom: 90px;
  background: #0F1012;
}
.partners__title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 147%;
  padding-top: 50px;
  padding-bottom: 100px;
  /* identical to box height, or 94px */

  text-align: center;

  color: #FFFFFF;

}
.partners__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.partners__item {
  flex: 0 1 15%;
  width: 90%;
  margin: 0 55px;
}
.partners__item img {
  width: 10%;
}

.partners__item:nth-child(1) {
  
}

.partners__item:nth-child(2) {

}

.partners__item:nth-child(3) {

}

.partners__item:nth-child(4) {

}

.partners__item:nth-child(5)  {
  padding: 20px;
  padding-top: 50px;
  flex: 0 1 30%;
  margin-left: auto;
}

.partners__item:nth-child(6)  {
  padding: 20px;
  padding-top: 50px;
  flex: 0 1 30%;
  margin-right: auto;
}


.reviews {
  padding-top: 84px;
  padding-bottom: 290px;
  position: relative;
}

.reviews::after {
  content: '';
  background-image: url('../img/reviews-left.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left center;
  display: block;
  width: 40%;
  height: 50%;
  bottom: 20px;
  position: absolute;
  left: -35px;
  z-index: 1;
}
.reviews::before {
  content: '';
  background-image: url('../img/reviews-right.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right top;
  display: block;
  width: 40%;
  height: 50%;
  right: 0;
  position: absolute;  
  z-index: 1;
  top: -40px;
}
.container {
}
.reviews__title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 147%;

  /* or 94px */
  text-align: center;

  color: #000000;
  margin-bottom: 160px;
}

.swiper {
}
.swiper-reviews {
  padding: 0 40px;
  z-index: 100;
  padding-bottom: 200px;
}
.swiper-wrapper {
}
.swiper-slide {
}
.reviews__slide {
  height: 100%;
  max-width: 600px;
  text-align: center;
  padding: 0 35px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
.reviews__slide-img {
  margin-top: 44px;
  width: 170px;
  height: 170px;
  border-radius: 50%;
}
.reviews__slide-title {
  margin-top: 40px;
  margin-bottom: 50px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 104.5%;

  /* or 38px */

  color: #000000;
}
.reviews__slide-subtitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 104.5%;

  /* or 21px */

  color: #000000;


}
.reviews__slide-description {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 104.5%;
  max-width: 590;
  margin: auto;
  /* or 25px */
  text-align: center;
  padding-bottom: 150px;
  padding-top: 50px;
  color: #000000;
}
.swiper-pagination {
}
.swiper-button-prev::after {
  display: none;
}
.swiper-button-next::after {
  display: none;
}

.reviews-swiper-button-next::after,.reviews-swiper-button-prev::after {
  max-width: 70px;
  min-width: 70px;
  max-height: 70px;
  min-height: 70px;
  top: 90%;
  display: block;
}


.reviews-swiper-button-prev::after {
  content: '';
  background-image: url('../img/slider-left.svg');
  background-repeat: no-repeat;
  margin-left: 40px;
}
.reviews-swiper-button-next::after {
  content: '';
  background-image: url('../img/slider-right.svg');
  background-repeat: no-repeat;
  margin-right: 40px;
  
}
.reviews-swiper-button-prev {
  position: absolute;
  top: 90%;
  left: 50px;
}
.reviews-swiper-button-next {
  position: absolute;
  top: 90%;
  right: 50px;
}
.swiper-scrollbar {
}


.request {
  padding: 63px 0;
  background-image:url('../img/form-img.png'),url('../img/hero/hero-background.png') ;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, auto;
  background-position: right bottom, center;
  background-color: #bcd7df;

  position: relative;
}

.request__form {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 50px 135px;
  max-width: 663px;
  flex: 0 1 50%;
}
.request__content {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
}
.request__item {
  
}
.request__img {
}
.request__row {
  display: flex;
}
.request__item:first-child {
  flex: 1 0 60%;
}
.request__item:last-child {
  flex: 1 0 40%;
  
}
.request__item:last-child img {
  position: absolute;
  right: 0;
  top: -117px;
  /* width: 690px; */
}
.request__form-title {
  font-family: 'Gilroy';
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 104.5%;
  margin-bottom: 85px;

  /* or 42px */

  color: #000000;
}
.request__form-input {
  font-family: 'Gilroy';
  margin-bottom: 44px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 104.5%;
  display: block;
  width: 100%;
  border-bottom: 1px solid  rgba(0, 0, 0, 0.6);
}
.request__form-input:nth-child(3) {
  margin-bottom: 20px;
}
.request__form-input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.checkbox-row {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 104.5%;
  /* or 16px */
  position: relative;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 40px;
}
.checkbox-row span {
  position: relative;
  top: 5px;
}
.checkbox-row input + label::before {
  margin-right: 10px;
  content: '';
  width: 22px;
  height: 22px;
  display: inline-flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 50%;
}
.checkbox-row input + label::after {
  content: '';
  width: 14px;
  height: 14px;
  display: block;
  left: 4px;
  background: #29BA93;
  position: absolute;
  top: 6px;
  border-radius: 50%;
  opacity: 0;transition: all .3s ease;
}
.checkbox-row input:checked + label::after {
	opacity: 1;
}
.request__form-btn {
  width: 100%;
}
.square-btn {
}


.footer {
  background: #0F1012;
  padding: 28px 0;
  text-align: center;
}
.container {
}
.footer__title {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 147%;
  /* or 35px */


  color: #FFFFFF;

}
.footer__logo {
  margin-top: 28px;
  margin-bottom: 44px;
}
.footer__row {
  display: flex;
  justify-content: center;
  max-width: 1085px;
  margin: auto;
}
.footer__item {
  flex: 0 1 30%;
  margin-right: 30px;
  margin-left: 30px;
  width: 30%;
  text-align: left;
}
.footer__item:nth-child(1),.footer__item:nth-child(2) {
  flex: 0 1 33.333%;
}
.footer__item:last-child {
  flex: 0 1 25%;
}
.footer__item-title {
  display: block;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 147%;
  /* or 47px */

  padding-bottom: 23px;
  color: #FFFFFF;
}
.footer__item-description {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 147%;
  /* or 35px */


  color: #FFFFFF;
}


@media (max-width: 1366px) {
  .main__image img {
    max-width: 588px;
  }
  .header {
    padding-top: 40px;
  }
  .advantages__card {
    width: 50%;
  }
  .benefits__item {
    padding-bottom: 130px;
  }
  .benefits::before {
    background-position: 157px 800px;
  }
  .benefits__info span {
    margin: 0 50px;
  }
  .banner__item:last-child img {
    position: absolute;
    right: 0;
    top: -37px;
    width: 650px;
  }
  .banner__title {
    font-size: 30px;
  }
  .square-btn, .rounded-btn {
    font-size: 22px;
  }
  .banner {
    padding-bottom: 130px;
  }
  .main__image img {
    object-fit: cover;	
    height: 100%;
    width: 100%;
  }
  .main__image {
    max-width: 100%;
  }
  .main__text {
    flex: 0 0 50%;
  }
  .header__item:not(:last-child) {
    margin-right: 20px;
  }
  .hero {
    background-size: 40% ,cover;
  }
  .banner__item:last-child img {
    position: absolute;
    right: 0;
    top: 7px;
    width: 598px;
  }
  .info__description, .reviews__title {
    z-index: 100;
    position: relative;
  }
  .info::after {
    left: -110px;
  }
  .partners {
    padding-bottom: 90px;
    background: #0F1012;
    z-index: 100;
    position: relative;
  }
  .reviews::before {
    background-position: right -25px;
    display: block;
    width: 23%;
    background-size: 70%;
  }
  .request__form {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 30px 65px;
    max-width: 503px;
  }
  .info__item-number {
    font-size: 200px;

  }
  .info__item-title {
    font-size: 35px;
  }
  .info::before {
    top: -135px;
   }
   .banner {
    z-index: 100;
   }
   .reviews {
    padding-bottom: 200px;
   }
   .reviews::after {
    height: 55%;
   }
}

@media (max-width: 1115px) {
  .hero {
    background-image: url('../img/hero/hero-girl.png'),url('../img/hero/hero-background.png');
    background-repeat: no-repeat, no-repeat;
    background-size: 45% ,cover;
    background-position: right bottom, center;
      background-position-x: right, center;
    background-position-x: 100%, center;
    background-color: #bcd7df;
    height: 100vh;
  }
  .header__list {
    display: none;
  }
  .container {
    padding: 0 30px;
  }
  .advantages__card-item {
    margin-right: 0;
    margin-left: 0;
  }
  .benefits {
    margin-top: 70px;
  }
  .benefits__row {
    flex-wrap: wrap;
  }
  .banner__item:last-child  {
    display: none;
  }
  .banner__item {
    text-align: center;
  }
  .info__row {
    flex-wrap: wrap;
  }
  .info__item {
    flex: 0 1 45%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
  }
  .request {
    background-size: 0px, auto;
  }
  .request__item:last-child {
    display: none;
  }
  .request__form {
    text-align: center;
    margin: auto;
  }
  .benefits-swiper-pagination {
    margin-top: 50px;
  }

  .swiper-pagination-bullet {
    max-width: 16px ;
    max-height: 16px ;
    padding: 16px;
    border-radius: 50%;
    background: #D9D9D9;
    opacity: 1;
    margin-right: 20px;
    margin-left: 20px;
  }  
  .swiper-pagination-bullet-active::after {
    content: '';
    display: block;
    padding: 8px;
    margin: auto;
    position: absolute;
    top: 35%;
    bottom: 0;
    max-width: 8px !important;
    max-height: 8px !important;
    background: #29BA93 !important;
    border-radius: 50%;
    margin-top: -5px;
margin-left: -8px;
  }
  .benefits__item {
    z-index: 100;
    max-width: 500px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 20px 20px;
      padding-bottom: 20px;
    padding-bottom: 190px;
    height: 100%;
    width: 100%;
    margin: auto;
  }
  .swiper-benefits {
    padding-bottom: 70px;
  }
}
@media (max-width:528px) {
  .header__btn {
    display: none;

  }
  .main__text-title {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 104.5%;
/* identical to box height, or 25px */


color: #10002B;
  }
  .main__text-subtitle {
    font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 147%;
/* or 21px */

text-align: center;

color: #10002B;

  }
  .square-btn, .rounded-btn {
    font-size: 16px;
    
  }
  .hero {
    background-image: url('../img/hero/mobile.png'),url('../img/hero/hero-background.png');
  background-repeat: no-repeat, no-repeat;
  background-size: 100% ,cover;
  background-position: 100px  170px, center;
    background-position-x: right, center;
  background-position-x: right, center;
  background-position-x: 100%, center;
  background-color: #bcd7df;
height: 100vh;
  }
  .header__row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main__text {
    flex: 0 1 100%;
    text-align: center;
    margin-top: 90%;
  }
  .main__text-subtitle {
    margin-top: 21px;
    margin-bottom: 32px;
  }
  .container {
    padding: 0 10px;
  }
  .main__text-btns .header__btn {
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    display: block;
  }
  .advantages__title, .benefits__title, .conditions__title, .benefits__info-title {
    font-size: 24px;
  }
  .advantages__subtitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 147%;
    margin-top: 18px;
    margin-bottom: 64px;
    /* or 19px */
    text-align: center;

    color: #000000;
  }
  .advantages__row {
    flex-direction: column;
  }
  .advantages__card {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
  }
  .advantages__card-title, .advantages__card-item {
    font-size: 14px;
  }
  .advantages__card-items {
    padding-top: 130px;
  }
  .advantages__card-item::before {
    max-width: 23px;
    max-height: 23px;
    min-width: 23px;
    min-height: 23px;
    background-size: contain;
    margin-right: 9px;
    
  }
  .benefits__item {
    margin-right: 20px;
    padding-bottom: 30px;
  }
  .benefits__info-title {
    margin-bottom: 30px;
    margin-top: 0px;
  }
  .benefits__item-img {
    width: 147px;
    height: 147px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .benefits__item-title {
    font-size: 24px;
  }
  .benefits__item-subtitle {
    font-size: 14px;
  }
  .benefits__info span {
    font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 147%;

/* or 21px */
margin: 0 15px;
text-align: center;

color: #FFFFFF;
  }
  .conditions {
    padding-top: 30px;
    padding-bottom: 70px;
  }
  .conditions__description {
    margin-top: 0;
    font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 147%;

/* or 21px */
text-align: center;

color: #000000;


  }
  .banner {
    padding: 25px 0;
  }
  .banner__title {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 147%;

/* or 24px */
text-align: center;

color: #000000;


  }
  .banner__buttons {
    margin-top: 35px;
    justify-content: center;
  }
  .banner__button {
    border-radius: 30px;
    padding: 15px 15px;
  }
  .info__item-number {
    padding-top: 20px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 100px;
line-height: 147%;

/* or 147px */

color: #FFFFFF;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .info__item-title {
    font-size: 14px;
  }
  .info__title {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .info {
    padding-top: 30px;
  }
  .info::before {
    content: '';
    background-image: url('../img/info/Ellipse-right.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 10px 28px;
    display: block;
    width: 39%;
    height: 40%;
    right: 0;
    position: absolute;
    z-index: 1;
    top: 0;
  }
  .info::after {
    display: none;
    background-image: url('../img/info/Ellipse-left.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 13px -28px;
    display: block;
    width: 200px;
    height: 0px;
    bottom: 113px;
    position: absolute;
    left: -35px;
    z-index: 1;
  }
  .info__subtitle {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 147%;

/* or 29px */

color: #000000;
  }
  .header__btn-1 {
    display: block !important;
  }
  .info__description span {
    font-size: 14px;
    margin-top: 12px;
    margin-bottom: 16px;
  }
  .info__description p {
    font-size: 10px;
  }
  .partners__list {

  }
  .partners__item {
    flex: 0 1 20%;
    margin: 0 5px;
  }
  .partners__title {
    font-size: 24px;
    
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .partners {
    padding-bottom: 50px;
  }
  .reviews__title {
    font-size: 24px;
    margin-bottom: 40px;
  }
  .reviews::before {
    background-position: right 146px;
    display: block;
    width: 46%;
    background-size: 70%;
  }
  .reviews__slide-img {
    width: 76px;
    height: 76px;
  }
  .reviews__slide-title {
    font-size: 14px;
    margin-top: 7px;
    margin-bottom: 10px;
  }
  .reviews__slide-subtitle, .reviews__slide-description {
    font-size: 10px;
  }
  .reviews__slide {
    width: 100% !important ;
  }
  .reviews__slide-description {
    padding-top: 24px;
    padding-bottom: 50px;
  }
  .reviews-swiper-button-prev, .reviews-swiper-button-next {
    display: none;
  }
  .swiper-reviews {
    padding: 0 40px;
      padding-bottom: 0px;
    z-index: 100;
    padding-bottom: 80px;
  }
  .reviews {
    padding-bottom: 100px;
  }
  .reviews::after {
    content: '';
    background-image: url('../img/reviews-left.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left 190px;
    display: block;
    width: 40%;
    height: 50%;
    bottom: 0;
    position: absolute;
    left: -35px;
    z-index: 1;
  }
  .info__item {
  }
  .footer__row {
    flex-direction: column;
    text-align: center;
  }  
  .footer__title {
    display: none;
  }
  .footer__item {
    text-align: center;
    margin-right: 0;
    margin-left: 0;
  }
  .footer__item:nth-child(1), .footer__item:nth-child(2), .footer__item:nth-child(3) {
    flex: 1 0 100%;
    padding: 0 30px;
    width: 100%;
  }
  .footer__item-title {
    font-size: 20px;
  }
  .footer__item-description {
    font-size: 13px;
  }
  .footer__logo {
    margin-bottom: 20px;
  }
}


@media (max-width: 419px) {
  .info__item {
    flex: 0 1 45%;
  }
  .info__item:not(:last-child) {
    margin-right: 10px;
  }
  .info__item:last-child {
    flex: 1 0 50%;
  }
  .main__text-subtitle {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .header {
    padding-top: 15px;
  }
  .main__text {
    flex: 0 1 100%;
    text-align: center;
    margin-top: 115%;
  }
}